.card button {
  background-color: var(--button-background);
  color: var(--background);
  padding: var(--spacing-medium);
  border-radius: var(--spacing-sm);
  cursor: pointer;
}

.card button:hover {
 background-color: var(--button-background-hover);
}